name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Check Docker version
        run: docker --version

      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin  

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/without_market_doc-img:latest .
      - name: View only process Docker images
        run: docker ps

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/without_market_doc-img:latest
